body {
    background-color: cornsilk;
    margin: 1%;
    }

h1 {
    background-color: yellowgreen;
    border-radius: 10px;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

h2 {
    font-size: 50px;
    text-decoration: underline 7.5px orange;
    margin: 20px;
    line-height: 150px;
}

.link li {
    font-size: 50px;
    float: left;
    margin: 10px;
    list-style: none;
}

.member li {
    font-size: 30px;
    margin-left: 10px;
    padding: 10px;
    list-style: none;
}

.border {
    font-size: 40px;
    font-weight: 600;
    color: gray;
    border: 7px solid silver;
    border-radius: 5%;
}

.name {
    font-size: 35px;
    font-weight: 400;
    margin-left: 3%;
}

.great {
    color: red;
    font-size: 50px;
    background-color: black;
    font-weight: 1000;
}

a {
    text-decoration: none;
    border: 2px solid orange;
    font-size: 30px;
}

img {
    width: 650px;
    height: 500px;
    border-radius: 20px;
}

@media screen and (max-width:400px) {
    body {
        font-size: 10px;
        margin: 0%;
    }

    a {
        text-decoration: none;
        border: 2px solid orange;
        font-size: 17px
    }

    h2 {
        font-size: 35px;
    }

    img {
        width: 150px;
        height: 300px;
    }

        
    .link li {
        font-size: 20px;
        float: left;
        margin: 10px;
        list-style: none;
    }

    .member li {
        font-size: 20px;
        list-style: none;
    }
    
    .border {
        font-size: 30px;
        font-weight: 600;
        color: gray;
        border: 7px solid silver;
        border-radius: 5%;
    }
    
    .name {
        font-size: 25px;
        font-weight: 400;
        margin-left: 3%;
    }
}