body {
    background-color: cornsilk;
}

h1 {
    background-color: yellowgreen;
    border-radius: 10px;
    text-align: center;
}

ul {
    font-size: 30px;
    color: coral;
}

img {
    width: 1000px;
    height: 500px;
    border-radius: 500px;
}